body{
    background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin: 0;
}

.login-card{
    margin: 0 auto;
    text-align: center;
    width: 450px;
    margin-top: 70px;
}

.login-card img{
    width: 350px;
}

.md-form input[type=email]:focus:not([readonly]){
    border-bottom: 1px solid #0097a7;
    box-shadow: 0 1px 0 0 #0097a7;
}

.md-form input[type=email]:focus:not([readonly])+label{
    color: #0097a7;
}

.md-form input[type=password]:focus:not([readonly]){
    border-bottom: 1px solid #0097a7;
    box-shadow: 0 1px 0 0 #0097a7;
}

.md-form input[type=password]:focus:not([readonly])+label{
    color: #0097a7;
}

.md-form input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #0097a7;
    box-shadow: 0 1px 0 0 #0097a7;
}

.md-form input[type=text]:focus:not([readonly])+label{
    color: #0097a7;
}

